//
//  Config.swift
//  Alsay
//
//  Created by Say Al on 2025/3/13.
//

struct Config {
    // 在此处填入您的智普清言API密钥
    static let apiKey = "YOUR_API_KEY"
    // API端点
    static let apiEndpoint = "https://open.bigmodel.cn/api/paas/v4/chat/completions"
}
